<!DOCTYPE html>
<html>
<head>
    <title>Super admin assign admin</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='super_admin.css') }}">

</head>
<body>
    <div class="sidebar">
        <h2>Super Admin</h2>
        <a href="/super_admin/dashboard">Dashboard</a>
        <a href="/super_admin/add_city">Add City</a>
        <a href="/super_admin/add_zone">Create Zones</a>
        <a href="/super_admin/add_admin">Create Admins</a>
        <a href="/super_admin/assign_admin">Assign zone Admin</a>
        <a href="/super_admin/assign_city_admin">Assign city Admin</a>
        <a href="/super_admin/add_services">Add services</a>
        <a href="/super_admin/reports">Reports</a>
        <a href="/super_admin/notifications">Notifications</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="main">
        <div class="header">
            <h2>Assign adimin</h2>
            <div class="nav">
            <a href="/super_admin/admins">View Admins</a>
            </div>
        </div>
    
    <form method="GET">
        <label>Select City:</label><br>
        <select name="city_id" onchange="this.form.submit()" required>
            <option value="">Select a city</option>
            {% for city in cities %}
                <option value="{{ city.city_id }}" {% if selected_city == city.city_id |string %}selected{% endif %}> {{ city.city_name }}</option>
            {% endfor %}
        </select><br>
    </form>

    <form method="POST">
        <input type="hidden" name="city_id" value="{{ selected_city }}">

        <label>Select Zone:</label><br>
        <select name="zone_id" >
            <option value="">Select a Zone</option>
            {% for zone in zones %}
            <option value="{{ zone.zone_id}}">{{ zone.zone_name}}</option>
            {% endfor %}
        </select><br>

        <label>Select Admin:</label><br>
        <select name="admin_id" required>
            <option value="">Select a Admin</option>
            {% for admin in admins %}
                <option value="{{ admin.admin_id }}">{{admin.name }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Assign</button>
    </form>
        <p style="color: rgb(217, 22, 26);">{{ message }}</p>
    </div>
  </body>
</html>

        
