<!DOCTYPE html>
<html>
<head>
    <title>customer bookings</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='view.css') }}">

</head>
<body>
    <div class="sidebar">
        <h2>User Panel</h2>
        <a href="/dashboard">Dashboard</a>
        <a href="/my_bookings">My Bookings</a>
        <a href="#">Payment History</a>
        <a href="#">Chat</a>
        <a href="/notifications">🔔Notification({{ notification_count }})</a>
        <a href="/customer/profile">Profile</a>
        <a href="/logout">Logout</a>
    </div> 
    
    <div class="booking-card">

    <h2>Booking Details</h2>

    <div class="section-title">Basic Info</div>

    <div class="info"><b>Booking ID:</b> <span>{{ booking.booking_id }}</span></div>
    <div class="info"><b>Customer:</b> <span>{{ booking.customer_name }}</span></div>
    <div class="info"><b>Provider:</b> <span>{{ booking.provider_name }}</span></div>
    <div class="info"><b>Service:</b> <span>{{ booking.service_name }}</span></div>
     <hr>
    <div class="section-title">Booking Info</div>

    <div class="info"><b>Date:</b> <span>{{ booking.booking_date }}</span></div>
    <div class="info"><b>Time:</b> <span>{{ booking.booking_time }}</span></div>
    <div class="info"><b>Address:</b> <span>{{ booking.address }}</span></div>
    <div class="info"><b>Amount:</b> <span>₹ {{ booking.amount }}</span></div>
    <div class="info">
        <b>Status:</b> 
        <span class="status {{ booking.status }}">{{ booking.status }}</span>
    </div>
    <hr>
    <div class="section-title">Booking Review Details</div>
    
    {% if review %}
    <div class="info"><b>Provider:</b> <span> {{ review.provider_name }}</span></div>
    <div class="info"><b>Rating:</b> <span> ⭐ {{ review.rating }}</span></div>
    <div class="info"><b>Review:</b> <span> {{ review.review }}</span></div>
     {% else %} 

    {% if booking.rating %}
    <p><b>Rating:</b> {{ booking.rating }} ⭐ </p><br>
    <p><b>Review:</b> {{ booking.review }}</p>
    {% else %}
    <p>No review available</p>
    {% endif %}
    {% endif %}
 
    <hr><br>
    {% if booking.status == 'completed' and not booking.review_given %}
     <a href="/customer/add_reviews/{{booking.booking_id }}">Give Review</a>
    {% endif %}

</div>


</body>
</html>