<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='customer.css') }}">

</head>
<body>
    <div class="sidebar">
        <h2>Admin Panel</h2>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/customers">Users</a>
        <a href="/admin/providers">Service Providers</a>
        <a href="/admin/bookings">Bookings</a>
        <a href="#">Payments</a>
        <a href="/admin/view_all_reviews">Reviews</a>
        <a href="/admin/reports">Reports</a>
        <a href="/admin/notifications">Notifications</a>
        <a href="#">Settings</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="main">
        <div class="header">
            <h2>Servicers Overview</h2>
            <h2>📍{{ session.city}}
                {% if zone_name %}- {{ zone_name }}
                {% endif %}
            </h2>
            <div class="nav">
            <a href="/providers/pending">View Verifications</a>
            </div>
        </div>
            <form method="GET">
                <input type="text" name="provider_name" placeholder="Provider name"
                            value="{{ provider_name or '' }}">
                <input type="number" name="provider_id" placeholder="Provider ID" 
                            value="{{ provider_id or '' }}">
                <button type="submit">Search</button>
                <a href="/admin/providers">Reset</a>
            </form>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Service</th>
                <th>City</th>
                <th>Verification Status</th>
                <th>Provider status </th>
                <th>Action</th>
            </tr>
            {% for provider in providers %}
            <tr>
                <td>{{ provider.provider_id }}</td>
                <td>{{ provider.name }}</td>
                <td>{{ provider.service_name }}</td>
                <td>{{ provider.city }}</td>
                <td class="{{ provider.verification_status }}">{{ provider.verification_status }}</td>
                <td class="{{ provider.status }}">{{ provider.status }}</td>
                <td>
                    <a href="/admin/providers/view/{{ provider.provider_id }}">
                        <button class="view-btn"> View</button>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</body>
</html>