<!DOCTYPE html>
<html>
<head>
    <title>admin views and rating reports</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='view.css') }}">


</head>
<body>
    <div class="sidebar">
        <h2>Admin Panel</h2>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/customers">Users</a>
        <a href="/admin/providers">Service Providers</a>
        <a href="/admin/bookings">Bookings</a>
        <a href="#">Payments</a>
        <a href="#">Reviews</a>
        <a href="/admin/view_all_reviews">Reports</a>
        <a href="/admin/notifications">Notifications</a>
        <a href="#">Settings</a>
        <a href="/logout">Logout</a>
    </div>
    
    <div class="booking-card">

    <h2>Booking Details</h2>

    <div class="section-title">Basic Info</div>

    <div class="info"><b>Booking ID:</b> <span>{{ review.booking_id }}</span></div>
    <div class="info"><b>Customer:</b> <span>{{ review.customer_name }}</span></div>
    <div class="info"><b>Provider:</b> <span>{{ review.provider_name }}</span></div>
    <div class="info"><b>Service:</b> <span>{{ review.service_name }}</span></div>
     <hr>
    <div class="section-title">Booking Info</div>

    <div class="info"><b>Date:</b> <span>{{ review.booking_date }}</span></div>
    <div class="info"><b>Time:</b> <span>{{ review.booking_time }}</span></div>
    <div class="info"><b>Address:</b> <span>{{ review.address }}</span></div>
    <div class="info"><b>Amount:</b> <span>₹ {{ review.amount }}</span></div>
    <hr>
    <div class="section-title">Review and Rating details</div>

    <div class="info"><b>Review ID:</b> <span> {{ review.review_id}}</span></div>
    <div class="info"><b>Rating:</b> <span> {{ review.rating }} ⭐</span></div>
    <div class="info"><b>Review:</b> <span> {{ review.review }}</span></div>
    <div class="info"><b>Create At:</b> <span>₹ {{ review.created_at }}</span></div>
    
    <div class="info">
        <b>Status:</b> 
        <span class="status {{ review.status }}">{{ review.status }}</span>
    </div>
    <hr>
    
</div>


</body>
</html>