<!DOCTYPE html>
<html>
<head>
    <title>provider bookings</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='view.css') }}">

</head>
<body>
    <div class="sidebar">
        <h2>Bookings overview</h2>
        <a href="/provider/my_jobs">My Jobs</a>
        <a href="/providers/view_reviews">Reviews & Ratings</a>      
    </div>
    
    
    <div class="booking-card">

    <h2> My Reviews</h2>

    <div class="section-title">Reviews Info</div>
    {% for r in reviews %}
    <div class="info"><b>Booking ID:</b> <span>{{ r.booking_id }}</span></div>
    <div class="info"><b>Booking Date:</b> <span>{{ r.booking_date }}</span></div>
    <div class="info"><b>Customer:</b> <span>{{ r.customer_name }}</span></div>
    <div class="info"><b>Rating:</b> <span>{{ r.rating }}</span></div>
    <div class="info"><b>Review:</b> <span>{{ r.review }}</span></div>
    <hr>
    {% endfor %}
</div>

</body>
</html>